#nav .navbar-collapse {padding: 3px;}
#nav .caret-up {width: 0; height: 0; border-left: 4px solid rgba(0, 0, 0, 0); border-right: 4px solid rgba(0, 0, 0, 0); border-bottom: 4px solid; display: inline-block; margin-left: 2px; vertical-align: middle;}
#nav .navbar-default{border-radius:0; background-color:#D3D1D3; margin: 0; min-height: 20px;}
#nav .navbar-default .navbar-nav > li{border-right: 1px solid #ccc;}
#nav .navbar-default .navbar-nav > li:hover{background-color:#73337D; color: #fff !important;}
#nav .navbar-default .navbar-nav > li:last-child{border-right: 0;}
#nav .navbar-default .navbar-nav > li > a{color: #FFFFFF; padding: 10px 17px 10px 17px;}
#nav .navbar-default .navbar-nav > li > a:hover{color: #E6E6E9 !important;}
#nav .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background-color: #800220;color: #fff !important;}

